#Logo{
    height: 130px;
    width: 300px;
    margin-bottom: 40px;
}
.btn{
    background-color: #03658C;
    border-color: #03658C;
}
#link{
    color: #03658C;
}
.form-control{
    background-color: #F2F2F2;
    border-color: #F2F2F2;
}
#h4{
    font-size: 2vh;
    font-family: "Segoe UI";
    margin-top: 4vh;
}

#taza{
    margin-left: 23vh;
    margin-top: -5vh;
}
#btnlogin{
    background-color: #03658C;
    color:white;
    border:none;
}
#btnlogin:hover{
    background-color: #025373;
}
