/* fonts */
a{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
p{
    font-family: 'Montserrat', sans-serif;
    
}
label{
    font-family: 'Montserrat', sans-serif;
}
h4{
    font-family: 'Montserrat', sans-serif;
}
#Equipo{
    border-bottom: 3px solid #36B8B8;
}

/* tables */
tr{
    background-color: #EDF7F6;
}
td{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
tr{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}


#btnlogin{
    background-color: #010923;
    color:white;
    border:none;
}
#btnlogin:hover{
    background-color: #021140;
}

#username{
    background-color: #F2F2F2;
    border: none;
    border-radius: 50px;
}
#password{
    background-color: #F2F2F2;
    border: none;
    border-radius: 50px;
}
#bienvenido{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}

/* cards */
#cards1{
    border-radius: 10px;
    background-color: #36B8B8;
    border: none;
    color: white;
}
#cards2{
    border-radius: 10px;
    background-color: #03A6A6;
    border: none;
    color: white;
}
#cards3{
    border-radius: 10px;
    background-color: rgb(8, 128, 128);
    border: none;
    color: white;
}