/* fonts */
a{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1px;
}
label{
    font-family: 'Montserrat', sans-serif;
}

/* tables */
tr{
    background-color: #EDF7F6;
}
td{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
tr{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}